body {
  padding-bottom: 70px;
}

.btn {
  margin-right: 5px;
}

.error {
  font-size: 20px;
  color: red;
}

img {
  margin: 10px;
}

footer {
  text-align: center;
}

footer nav p {
  margin: 15px;
}

.success {
  font-size: 20px;
  color: green;
}

#top-nav {
  margin-top: 10px;
}

.food-btn {
  margin: 5px;
}
