{% extends "layout.html" %}

{% block header %}
<h1>Pantry Dashboard <small>{{ current_user.real_name }}</small></h1>
{% endblock %}

{% block content %}
  <div id="my-controls" class="col-md-12 panel panel-default">
    <div id="my-pantry" class="col-md-10">
      <h3>My Pantry</h3>

      {% if user_pantry | length == 0 %}
        <p class="lead">You have no food in your pantry! 
          <a href="#" class="add-btn-pantry"> Add some</a>!</p>
      {% else %}
        {% for item in user_pantry | sort %}
          <a href="find/{{ item }}" class="btn btn-default food-btn">{{ item }}</a></li>
        {% endfor %}
      {% endif %}

      <div id="add-food-pantry" class="hidden">
        <form action="add_to_pantry" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="food-names-pantry">Food Name(s) (Comma separated)</label>
            <input type="text" name="food-names-pantry" id="food-names-pantry"
                   class="form-control"/>
          </div>
          <button type="submit" class="btn btn-default">Add Item(s)</button>
        </form>
        <br />
      </div>
    </div>

    <div id="my-options" class="col-md-2">
      <h3>Options</h3>
      <a href="#" class="btn btn-primary btn-block add-btn-pantry">Add Food</a>
      <a href="#" class="btn btn-warning btn-block">Remove Food</a>
      <a href="empty_pantry" class="btn btn-danger btn-block">Clear Inventory</a>
      <br />
    </div>
  </div>

  <hr />

  <div id="my-controls" class="col-md-12 panel panel-default">
    <div id="my-shopping-list" class="col-md-10">
      <h3>My Shopping List</h3>

      {% if user_sl | length == 0 %}
        <p class="lead">You have no food on your shopping list! 
          <a href="#" class="add-btn-sl"> Add some</a>!</p>
      {% else %}
        {% for item in user_sl | sort %}
          <a href="find/{{ item }}" class="btn btn-default food-btn">{{ item }}</a></li>
        {% endfor %}
      {% endif %}

      <div id="add-food-sl" class="hidden">
        <form action="add_to_sl" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="food-names-sl">Food Name(s) (Comma separated)</label>
            <input type="text" name="food-names-sl" id="food-names-sl"
                   class="form-control"/>
          </div>
          <button type="submit" class="btn btn-default">Add Item(s)</button>
        </form>
        <br />
      </div>
    </div>

    <div id="my-options" class="col-md-2">
      <h3>Options</h3>
      <a href="#" class="btn btn-primary btn-block add-btn-sl">Add Food</a>
      <a href="#" class="btn btn-warning btn-block">Remove Food</a>
      <a href="empty_sl" class="btn btn-danger btn-block">Clear Inventory</a>
      <br />
    </div>
  </div>

  <hr />

  <div class="col-md-12">
    <div class="col-md-6">
      <label for="search">Search Available</label>
      <input class="form-control" type="text" name="search-available" id="search-available" value="" />
    </div>

    <div class="col-md-6">
      <label for="search">Search Desired</label>
      <input class="form-control" type="text" name="search-desired" id="search-desired" value="" />
    </div>
  </div>

  <div id="available" class="col-md-6">
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <td><b>Name</b></td>
          <td><b>Distance (miles)</b></td>
          <td><b>Walking time (minutes)</b></td>
          <td><b>Items Available</b></td>
        </tr>
      </thead>

      <tbody>
        {% for user in users if user.username != current_user.username and user.items_available %}
          <tr>
            <td>{{ user.real_name }}</td>
            <td>{{ geo_info[user.real_name] }}</td>
            <td>{{ (geo_info[user.real_name] * 60 / 3.1) | round(2) }}</td>
            <td>{{ user.items_available[:30] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="desired" class="col-md-6">
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <td><b>Name</b></td>
          <td><b>Distance (miles)</b></td>
          <td><b>Walking time (minutes)</b></td>
          <td><b>Items Desired</b></td>
        </tr>
      </thead>

      <tbody>
        {% for user in users if user.username != current_user.username and user.items_desired %}
          <tr>
            <td>{{ user.real_name }}</td>
            <td>{{ geo_info[user.real_name] }}</td>
            <td>{{ (geo_info[user.real_name] * 60 / 3.1) | round(2) }}</td>
            <td>{{ user.items_desired }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<div class="col-md-12">
  <nav class="text-center">
    <ul class="pagination">
    {% if pagination.pages > 1 %}
      {% if pagination.has_prev %}
        <li>
          <a href="{{ url_for_other_page(pagination.page - 1)}}">&laquo; Previous</a>
        </li>
      {% endif %}
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
          {% else %}
            <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
          {% endif %}
        {% else %}
          <li><span class=ellipsis>…</span></li>
        {% endif %}
      {% endfor %}
      {% if pagination.has_next %}
        <li><a href="{{ url_for_other_page(pagination.page + 1)
        }}">Next &raquo;</a></li>
      {% endif %}
    {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
