{% extends "layout.html" %}

{% block header %}
<h1>Pantry Dashboard <small>{{ current_user.real_name }}</small></h1>
{% endblock %}

{% block content %}
  <div id="my-controls" class="col-md-12 panel panel-default">
    <div id="my-pantry" class="col-md-10">
      <h3>My pantry</h3>

      {% if user_pantry | length == 0 %}
        <p class="lead">You have no food in your pantry! 
          <a href="#" class="add-btn"> Add some</a>!</p>
      {% else %}
        {% for item in user_pantry | sort %}
          <a href="find/{{ item }}" class="btn btn-default food-btn">{{ item }}</a></li>
        {% endfor %}
      {% endif %}

      <div id="add-food" class="hidden">
        <form action="add_to_pantry" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="food-names">Food Name(s) (Comma separated)</label>
            <input type="text" name="food-names" id="food-names"
                   class="form-control"/>
          </div>
          <button type="submit" class="btn btn-default">Add Item(s)</button>
        </form>
        <br />
      </div>
    </div>

    <div id="my-options" class="col-md-2">
      <h3>Options</h3>
      <a href="#" class="btn btn-primary btn-block add-btn">Add Food</a>
      <a href="#" class="btn btn-warning btn-block">Remove Food</a>
      <a href="empty_pantry" class="btn btn-danger btn-block">Clear Inventory</a>
      <br />
    </div>
  </div>

  <hr />

  <div class="col-md-12">
    <div class="col-md-6">
      <label for="search">Search Available</label>
      <input class="form-control" type="text" name="search-available" id="search-available" value="" />
    </div>

    <div class="col-md-6">
      <label for="search">Search Desired</label>
      <input class="form-control" type="text" name="search-desired" id="search-desired" value="" />
    </div>
  </div>

  <div id="available" class="col-md-6">
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <td><b>Name</b></td>
          <td><b>Distance (miles)</b></td>
          <td><b>Walking time (minutes)</b></td>
          <td><b>Items Available</b></td>
        </tr>
      </thead>

      <tbody>
        {% for user in users if user.username != current_user.username %}
          <tr>
            <td>{{ user.real_name }}</td>
            <td>{{ geo_info[user.real_name] }}</td>
            <td>{{ (geo_info[user.real_name] * 60 / 3.1) | round(2) }}</td>
            {% if user.items_available %}
              <td>{{ user.items_available[:30] }}</td>
            {% else %}
              <td>None</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="desired" class="col-md-6">
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <td><b>Name</b></td>
          <td><b>Distance (miles)</b></td>
          <td><b>Walking time (minutes)</b></td>
          <td><b>Items Desired</b></td>
        </tr>
      </thead>

      <tbody>
        {% for user in users if user.username != current_user.username %}
          <tr>
            <td>{{ user.real_name }}</td>
            <td>{{ geo_info[user.real_name] }}</td>
            <td>{{ (geo_info[user.real_name] * 60 / 3.1) | round(2) }}</td>
            <td>{{ user.items_desired }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
