{% extends "layout.html" %}

{% block header %}
  <h1>Why use Pantry?</h1>
{% endblock %}

{% block content %}
  <div id="explanation" class="col-md-6 lead">
    <p>You're hungry. Time for some breakfast.</p>
    <p>Shit! Only one egg left!</p>
    <p>No worries. With Pantry, you can have your breakfast omelet made within
    5 minutes.</p>
    </p>Just check your Pantry network to see who has a few eggs to
    spare! No need to spend an hour driving to the supermarket and back, when
    you can just walk across the street and trade groceries with your
    friendly neighborinos.</p>
  </div>

  <div id="images" class="col-md-6">
    <img src="{{ url_for('static', filename='carton.jpg') }}" class="img-responsive img-thumbnail"/>
  </div>

  </div>
{% endblock %}
