{% extends "layout.html" %}

{% block header %}
  <h1>Pantry Search <small>{{ food }}</small></h1>
{% endblock %}

{% block content %}
  {% if users | length != 0 %}
    <div id="available" class="col-md-10">
      <hr />
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>Name</b></td>
            <td><b>Distance (miles)</b></td>
            <td><b>Walking time (minutes)</b></td>
            <td><b>Email</b></td>
            <td><b>Click to buy:</b> </td>
          </tr>
        </thead>

        <tbody>
          {% for user in users if user.username != current_user.username %}
            <tr>
              <td>{{ user.real_name }}</td>
              <td>{{ geo_info[user.real_name] }}</td>
              <td>{{ (geo_info[user.real_name] * 60 / 3.1) | round(2) }}</td>
              <td>{{ user.email }} </td>
              <td>
                <a href="/venmo/{{ user.username + '-' + food }}">
                  <img src="{{ url_for('static', filename='venmologoblue.png') }}" alt = 'Venmo button' height=15% />  
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    Nobody offering any {{ food }}, sorry!
  {% endif %}
{% endblock %}
