{% extends "layout.html" %}

{% block header %}
  <h1>Pantry</h1>
{% endblock %}

{% block content %}
  <div class="col-md-9">
    <div id="description">
      <p class="lead">Pantry is an app for sharing groceries with your neighbor.</p>
    </div>

    <div>
      <br />
      {% if not current_user.is_authenticated() %}
        <a href="register" class="btn btn-primary">Start Sharing Now</a>
      {% endif %}
      <a href="examples" class="btn btn-default">See it in Action</a>
    </div>

    <hr />
  </div>

  <div class="col-md-3">
    {% if current_user.is_authenticated() %}
      Hey {{ current_user.username }}! Check out your 
        <a href="dashboard">dashboard!</a>
    {% else %}
      <form method="post" action="login" enctype="multipart/form-data"
            class="panel panel-default">
        <div id="login-form" class="panel-body">
          <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control">
          </div>

          <button type="submit" class="btn btn-default">Log In</button>
        </div>
      </form>
    {% endif %}

    <img src="{{ url_for('static', filename='groceries.gif') }}" class="img-responsive"/>
  </div>
{% endblock %}
