<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pantry</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
  <div id="wrapper" class="container">
    <nav id="top-nav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          {% if current_user.is_authenticated() %}
            <a class="navbar-brand" href="/dashboard">Home</a>
          {% else %}
            <a class="navbar-brand" href="/">Home</a>
          {% endif %}
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated() %}
              <li><a href="logout">Logout</a></li>
            {% else %}
              <li><a href="examples">Examples</a></li>
              <li><a href="register">Register</a></li>
              <li><a href="login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block flashed %}
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="flash {{category}}">{{ message }}</div>
      {% endfor %}
    {% endblock %}

    <header class="page-header">
      {% block header %} {% endblock %}
    </header>

    <div id="content">
      {% block content %} {% endblock %}
    </div>
  </div>

  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <p>Team <i>Randomly Generated</i> - Created at <i>MHacks 5</i> - Copyright
        2015</p>
    </nav>
  </footer>
</body>
</html>
